.modal_slider_image {
  height: 200px;
  width: 47.2%;
  margin: .25%;
  border-radius: 6px;
  border: 3px solid transparent;
  cursor: pointer;
}

.highlight {
  border: 3px solid #0097ec;
  opacity: .6;
}

.modal_slider_image:nth-child(3n+1) {
  width: 97%;
}